@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

html{
  font-size: 62.5%;
}
body{
  font-family: 'Inter', 'Noto Sans KR', sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  color: #000;
  letter-spacing: -.03em;
}
section{
  padding: 60px 0;
}
section:first-of-type{
  padding-top: 120px;
}
section:last-of-type{
  padding-bottom: 120px;
}
a{
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
ul{
  padding: 0;
}
li{
  list-style: none;
}
button{
  outline: none;
  border: none;
}
.btn_area{	
  padding: 40px 0 0;
	margin-top: 120px;
	text-align: center;
	border-top: 1px solid #000;
}
.btn_area.btns{
  position: relative;
}
.btn_area.btns > div{
  position: absolute;
  right: 0;
  top: 40px;
}
.set_inner{
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}
.input_area.file{
  position: relative;
}
input[type="radio"],
input[type="checkbox"],
input[type="file"]{
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  outline: none;
  border: none;
  background: transparent;
}
input[type=text],
input[type=email],
input[type=password],
input[type=number]{
  display: block;
  width: 100%;
  font-size: 1.6rem;
  border: 1px solid #333;
  line-height: 42px;
  height: 44px;
  box-sizing: border-box;
  padding: 0 12px;
  border-radius: 0;
}
input[type=text]:placeholder,
input[type=email]:placeholder,
input[type=password]:placeholder,
input[type=number]:placeholder{
  color: #999;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus{
  outline: none;
  background-color: rgba(240,240,240,.5);
}
input[type=file]:focus+div p{
  background-color: rgba(240,240,240,.5);
}
textarea{
  resize: none;
  display: block;
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  border-radius: 0;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  font-size: 1.6rem;
  background-color: transparent;
}
.textarea .input_box>div:focus{
    background-color: rgba(240,240,240,.5);
}
textarea:focus{
  outline: none;
}
dl, dl dt, dl dd{
  margin: 0;
}
.txt_err{
  font-size: 1.4rem;
  color: #DE6867;
  margin-top: 4px;
}
input+.txt_err+input{
  margin-top: 15px;
}
img{
  max-width: 100%;
}
a.link{
  display: inline-block;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: transparent;
  color: #000;
  border-color: #000;
  vertical-align: middle;
  height: auto;
  border: none;
  line-height: 1.2;
  padding: 0;
  font-weight: 700;
}
a.btn{
  display: inline-block;
	height: 44px;
	line-height: 42px;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0 15px;
	border: 1px solid #ddd;
	font-size: 1.5rem;
	background-color: transparent;
	color: #000;
	border-color: #000;
	font-weight: 500;
	vertical-align: middle;
}
a.btn.primary{
  color: #fff;
  border-color: #000;
  background-color: #000;
}
a.btn.point{
  color: #f2b43f;
  border-color: #f2b43f;
  background-color: transparent;
}
a.btn.h_s{
  height: 32px;
  line-height: 30px;
  font-size: 14px;
}
a.btn.h_xs{
  height: 26px;
  line-height: 24px;
  font-size: 14px;
}
a.btn.w_m{
  min-width: 140px;
  padding: 0;
  text-align: center;
}
a.btn.padding_s{
  padding: 0 10px;
}
.btn+.btn,
button+.btn{
  margin-left: 12px;
}
.btn.s+.btn.s,
button+.btn.s{
  margin-left: 8px;
}
.fw_400{
  font-weight: 400;
}
.fw_500{
  font-weight: 500;
}
.fw_700{
  font-weight: 700;
}
.input_area button{
  height: 44px;
  line-height: 42px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
